# Dependencies
node_modules/

# Env files
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build/cache
coverage/
dist/
.cache/

# OS/editor
.DS_Store
.vscode/
.idea/
